<div id="post_content">
<h1 class="title">
    <%= @post.title%>
</h1>


<p class="body">
    <%= @post.body%>
</p>

<p class="date bg-primary">
    Submitted <%= time_ago_in_words(@post.created_at)%> Ago
</p>
<% if user_signed_in? %>

     <%= link_to 'Edit' , edit_post_path(@post),class: "btn btn-info" %>
     <%= link_to 'delete', post_path(@post),method: :delete,data: {confirm: 'are you sure?'},class: "btn btn-info"%>
<%end%>
<div id="comments">
    <h2><%= @post.comments.count %> comments </h2>
    <%= render @post.comments %>

    <h3> Add a comment: </h3>
    <%= render "comments/form" %>


</div>
